*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Josefin Sans;
}
html{
    scroll-behavior: smooth;
}
section{
    padding: 100px 0;
}
.res-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.story, .contact, footer{
    font-family: 'Josefin Sans', sans-serif;
}
.story .story-content,
.contact .contact-content
 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: linear-gradient(#333 ,#555);
    
}
.navbar .res-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    font-family: Bad Script;
}
.navbar .logo a span{
    color: #f9004d;
    transition: all 0.3s ease;
    font-family: Bad Script;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;   position: relative;
}
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: black;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}
.home{
    display: flex;
    background: url("poto1.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .res-width{
  width: 100%;
  display: flex;
}
.home-content{
    position: absolute;
    top: 50%;
    left:8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
span{
    color: #f9004d;
    }

.story{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.story .title{
    color: #fff;
    font-weight: bold;
}
.story .story-content .left{
    width: 45%;
}
.story .story-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.story .story-content .right{
    width: 55%;
}
.story .story-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
 
.story .story-content .right p{
    text-align: justify;
    color: #fcfc;
    font-size: 19px;
}
.contact, .teams{
    color:#fff;
    background: #111;
}
.contact .title{  
 font-weight: bold;
}
.contact .contact-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .contact-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.other{
    width: 100%;
    height: 350px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.other p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.other .button-two{
    background-color:#f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s; 
}
.other .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.other p{
    color: #fff;
    font-size: 17px;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Bad Script;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end{
    position: absolute;
    color:#f9004d;
    bottom: 35px;
    font-size: 14px; 
}

@media (max-width: 1104px) {
    .story .story-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .res-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .res-width{
        max-width: 930px;
    }
    .story .story-content .column{
        width: 100%;
    }
    .story .story-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .story .story-content .right{
        flex: 100%;
    }
    .contact .contact-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
     
  
}

@media (max-width: 690px) {
    .res-width{
        padding: 0 23px;
    }
    .header .header-content .text-2{
        font-size: 60px;
    }
    .header .header-content .text-3{
        font-size: 32px;
    }
    .header .header-content a{
        font-size: 20px;
    }
    .contact .contact-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .header .header-content .text-2{
        font-size: 50px;
    }
    .header .header-content .text-3{
        font-size: 27px;
    }
    .story .story-content .right .text,
    {
        font-size: 19px;
    }
    
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}